body {
    font-size: 16px;
    color: #fff;

    font-family: 'Oxygen', sans-serif
}

.form_bg {
    background-color: #eee;
    color: black;
    opacity: 0.7;
    padding: 20px;
    border-radius: 10px;
    position: center;
    border: 1px solid #fff;
    margin: auto;
    margin-top: 80px;
    margin-right: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 280px;
}

body {
    background-image: url("../assests/dome.jpg");

    background-repeat: no-repeat;
    background-size: cover;

}


.align-center {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(246, 248, 250);
    opacity: 0.7;
    color: black;
    text-align: center;
}


